@import "_config.scss";

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  font-family: 'Source Sans Pro', sans-serif !important;

  header {
    position: relative;
    top: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    background: rgba(90, 2, 2, 0.92);
    color: ghostwhite;
    @include transition(2s ease-in-out);
    font-family: 'Raleway', sans-serif !important;

    .logo, .authorizeButton, .userCab {
      font-size: xx-large;
      align-self: center;

      @include transition(0.2s ease-in-out);

      &::selection {
        color: transparent;
      }

      a {
        color: whitesmoke;

        &:visited {
          color: whitesmoke;
        }

        &::selection {
          color: black;
        }

        &:hover {
          color: wheat !important;
          @include transition(0.2s ease-in-out);
        }
      }
    }

    .authorizeButton {
      right: 0;
      position: absolute;
      margin-right: 20px;
      margin-bottom: 0;
      cursor: pointer;

      @media screen and (max-width: 700px) {
        h2 {
          font-size: smaller;
      }
    }

      &:hover {
        color: wheat;
        @include transition(0.2s ease-in-out);
      }
    }

    .userCab {
      left: 0;
      position: absolute;
      margin-left: 20px;
      cursor: pointer;
      &:hover {
        color: wheat;
        @include transition(0.2s ease-in-out);
      }
    }
  }

  .registrationForm {
    @include transition(3s ease-in-out);

    @media screen and (max-width: 700px) {
     width: auto;
     h1 {
       font-size: x-large;
     }
  }

    .input-group-prepend {
      order: 1;
    }

    .input-group {
      @include transition(3s ease-in-out);
    }
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .loginForm {
    @include transition(3s ease-in-out);

    @media screen and (max-width: 700px) {
      width: auto;
      h1 {
        font-size: x-large;
      }
    }

    .input-group {
      @include transition(3s ease-in-out);
    }
    text-align: center;

    h1 {
      margin-bottom: 20px;
    }

    width: 50%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .favoriteBtn {
      cursor: pointer;
      margin-left: 20px;
    }

  .userNav {
    .MuiTabs-flexContainer-40 {
      justify-content: space-around;
    }
  }

  .input-group-text {
    background-color: #ca3838;
    color: whitesmoke;
  }

  nav {
    .pagination {
      justify-content: center;
    }
  }




  // cards
  .cardsContainer {
    position: relative;
    padding: 20px;

    .card-subtitle {
      font-size: 30px;
      color: rgba(187, 19, 19, 0.92);
      margin-bottom: 0.5rem;
    }

    .card-deck {
      min-height: 500px;
      .card {
        flex: auto;
        @media screen and (min-width: 700px) {
          width: 400px;  
          margin: 10px;
        }
      }
    }
  }

  .card {
   max-width: 600px;
    @media screen and (max-width: 700px) {
      width: auto;
      margin: 10px 0;
       img {
         height: auto;
       }
     }
  }

  // pagination
  .page-item.active .page-link {
    background-color: #a00e24;
    border-color: #5a5a5a;

  }

  .page-link {
    color: #e24e6f;

    &:hover {
      @include transition(0.2s ease-in-out);
      background-color: transparentize(gray, 0.75);
      color: #e22833;
    }
  }

  .btn-secondary {
    background-color: transparent;
    color: black;
    &:visited {
      color: #c02626;
    }
  }

  .FavoriteFlats, .RecentFlats {
    display: flex;
    justify-content: center;
    max-width: 700px;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    .card {
      margin: 10px 0;
    }
  }


}
