{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "semi": [1, "always"],
    "fix": "true",
    "no-console": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "no-alert": "off",
    "react/destructuring-assignment": "off",
    "global-require": "off",
    "react/forbid-prop-types": "off",
    "prefer-destructuring": "off",
    "no-underscore-dangle": "off",
    "max-len": "off",
    "linebreak-style": "off"
  }
}
